/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Michroma', sans-serif;
}



/*------------------------- HEADER--------------------*/

nav ul {
  list-style-type: none;
  display: none;
}


nav ul a {
  display: block;
  background: blue;
  padding: 20px;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: color 2s ease, background 2s ease, padding 2s ease;
}

nav ul a:hover {
  background: black;
  color: red;
  padding-left: 30px;
}

.nav-container img {
  width: 100px;
  align-self: center;
}

.nav-container {
  padding: 0 20px;
  background: grey;
  border-bottom: 3px solid white;
  display: flex;
  justify-content: space-between;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 7px;
  background: white;
}

.btn {
  padding: 2px;
  display: inline-block;
  border: 2px solid white;
  align-self: center;
}

header {
  min-height: 100vh;
  background: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)),url(../img/header-bcg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}


nav {
  flex: 0 0 auto;
}

.banner {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: white;
}

.banner h3 {
  text-transform: capitalize;
  font-size: 30px;
  color: white;
}

.and {
  color: white;
}

.banner-icons {
  padding: 20px;
}

.banner-icons a {
  display: inline-block;
  font-size: 30px;
  background: grey;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 50%;
  color: white;
  transition: color 1s ease, transform 1s ease;
}


.banner-icons a:hover {
  color: blue;
  transform: translateY(-10px);
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}


          /* MEDIA QUERY */

@media (min-width: 776px) {

.nav-container {
display: none;
}


nav ul {
display: flex!important;
flex-wrap: wrap;
justify-content: center;
background:  rgba(0,0,255,0.8);
}


nav ul a {
background: transparent;
}


nav ul a:hover {
background: transparent;
padding-left: 20px;
}

}      /* SMALL SCREEN style ends here */





/*-----------------------------SERVICES--------------------------*/

  .services {
    min-height: 80vh;
    background: url('../img/services-bcg.jpg')center/cover fixed no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }


  .service {
    color: white;
    display: flex;
    margin: 40px;
  }

  .service-icon {
    align-self: center;
    font-size: 60px;
    margin-right: 20px;
    padding: 20px;
    border: 3px solid white;
    border-radius: 50%;
  }


  .service-text h3 {
    text-transform: uppercase;
  }

  .service-text p {
    line-height: 2;
    margin-top: 5px;
  }

        /* MEDIA QUERY */

@media (min-width: 576px) {

.services-center {
  width: 70%;
}
}   /* SMALL SCREEN style ends here */


@media (min-width: 776px) {

.services-center {
  width: 50%;
}
}      /* MEDIUM SCREEN style ends here */






/*-----------------------------------PROJECTS----------------------*/

.projects {
  padding: 0 0 100px 0;
  background: white;
}

.title h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: blue;
}

.title-underline {
  background: blue;
  width: 100px;
  height: 4px;
  margin: 10px auto;
}

.title {
  padding: 50px 0px;
}

.project {
  background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
  overflow: hidden;       /* this property is for: the pics not growing/scanning on top of each other when zooming */

}


.projects img {
  width: 100%;
  display: block;
  transition: opacity 2s ease, transform 2s ease;
}

.projects img:hover {
  opacity: 0.3;
  cursor: pointer;
  transform: scale(1.3);      /* this property is for ZOOMING */
}


            /* MEDIA QUERY */

/* Flexbox */
/* @media (min-width: 576px) {

.projects-center {
 display: flex;
 flex-wrap: wrap;
}

.project {
 flex: 0 0 calc(50%);
}

}


@media (min-width: 992px) {

.project {
 flex: 0 0 calc(33.33333%);
}

} */


/* same result with GRID:: */
@media (min-width: 576px) {
 .projects-center {
   display: grid;
   grid-template-columns: 1fr 1fr;
 }
}     /* SMALL SCREEN style ends here */

@media (min-width: 992px) {
 .projects-center {
   grid-template-columns: repeat(3, 1fr);
 }
}     /* LARGE SCREEN style ends here */





/*--------------------------------------about us----------------- */

.about {
  min-height: 100vh;
  padding: 100px 0;
  background: url(../img/about-bcg.jpg)center/cover fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.about-card {
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 60px 40px;
}

.about-card h3 {
  font-size: 40px;
  text-transform: capitalize;
}

.about-card .fa-medium-m {
  font-size: 60px;
  color: blue;
  margin: 20px 0;
}

.about-card p {
  line-height: 2;
}


                    /* MEDIA QUERY */
@media screen and (min-width: 776px) {
  .about-card {
    max-width: 50%;
    border-radius: 30px;
  }

  .about-card p {
    max-width: 70%;
    margin: 0 auto;
  }

}       /* MEDIUM SCREEN style ends here */



/*------------------------------------filler----------------------- */
.filler {
  min-height: 60vh;
  background: url(../img/filler-bcg.jpg)center/cover fixed no-repeat;
}




/*---------------------------------contact----------------------- */
.contact {
  min-height: 80vh;
  background: url(../img/about-bcg.jpg)center/cover fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  flex: 0 0 80%;
  padding: 40px 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
}

form input {
  margin: 10px 0;
}

form h3 {
  text-align: center;
  text-transform: uppercase;
  color: white;
}


form input,
form textarea {
  padding: 5px;
  border: 3px solid blue;
}

input::placeholder,
textarea::placeholder {
  text-transform: uppercase;
  color: #0d1317;
}

.form-btn {
  margin: 20px;
  font-size: 20px;
  border-radius: 40px;
  padding: 5px;
  background: blue;
  color: white;
  transition: color 1s ease-in-out, background 1s ease-in-out;
}


.form-btn:hover {
  color: blue;
  background: white;
}



/*---------------------------------footer----------------------- */
footer {
  background: black;
  padding: 60px 0;
  text-align: center;
}

.footer-icons a {
  display: inline-block;
  font-size: 30px;
  margin: 0 10px 20px 10px;
  padding: 2px 5px;
  border-radius: 5px;
  background: white;
  color: black;
}

footer p {
  color: white;
  font-size: 20px;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
